@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap');

body{
  background-color: #0B0C23;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

/*HEADER*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 28px;
  font-family: 'Exo', sans-serif;
}

.header-info, .language{
  display: flex;
  align-items: center;
}

.logo-image{
  display: block;
  height: 29px;
  width: 132px;
  background-image: url(header/Logo.svg);
}

.language{
  margin-left: 25px;
}

.language-label{
  margin-left: 15px;
  margin-top: 3px;
  font-size: 14px;
  font-weight: bold;
}

.language-image{
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
  background-image: url(header/planet-earth.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.cart > a{
  display: inline-block;
  width: 25px;
  height: 26px;
  background-image: url(header/cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 3px 2px 0;
  position: relative;
  vertical-align: top;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  pointer-events: none;
}

.cart-counter {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  top: -5px;
  right: -5px;
  height: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 14px;
  padding: 4px;
  background-color: #0B0C23;
  background-clip: padding-box;
  position: absolute;
  line-height: 1;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  pointer-events: none;
}











/*FOOTER*/
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.social-link{
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link:hover{
  transition: .2s;
  background-color: rgba(255, 255, 255, 0.2);
}

.social-item {
  margin-right: 15px;
  position: relative;
}

.social-item:last-child {
  margin-right: 0;
}

.social-fb{
  background-image: url(footer/facebook.svg);
}
.social-twitter{
  background-image: url(footer/twitter.svg);
}
.social-youtube{
  background-image: url(footer/youtube.svg);
}
.social-reddit{
  background-image: url(footer/reddit.svg);
}

.dots{
  border: 0;
  margin: 0;
}

.dots-top:before, .dots-top:after,
.dots-bottom:before, .dots-bottom:after{
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
}

.dots-top:before{
  right: 0;
}

.dots-top:after{
  left: 0;
}

.dots-bottom:before{
  right: 0;
  bottom: 0;
}
.dots-bottom:after{
  left: 0;
  bottom: 0;
}

footer, .wrapper{
  border: 2px solid aqua;
}